$gray-blue: #475d74;
$darker-green: #359567;
$bright-green: #C4EB67;
$black: #000000;
$white: #ffffff;
$main-text: "Quicksand", sans-serif;
$header-text: "Sulphur Point", sans-serif;

@mixin msg-display() {
  width: 95%;
  text-align: center;
}

@mixin msg-style() {
  width: 100%;
  color: $white;
}

@mixin flex($display, $direction) {
  display: $display;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  -webkit-font-smoothing: auto;
  display: grid;
  grid-template-areas: "nav nav"
                       "image image"
                       "aside main";
  grid-template-columns: 1fr 5fr;
  background-color: $gray-blue;
  font-family: $main-text;
}

h1 {
  align-self: center;
  padding: 0.5% 0.7% 0;
  width: 70%;
  color: $white;
  font-family: $header-text;
  font-size: 3.125rem;
}

h2 {
  margin: 10px 0;
  color: $darker-green;
}

h3 {
  transition: 0.8s ease;
  margin: 5px 5px 10px 0;
  height: 17%;
  color: $darker-green;
}

h4 {
  margin: 10px 0 0;
  border-radius: 3px;
  background-color: $bright-green;
  padding: 1px 4px;
  width: max-content;
  color: $darker-green;
}
/* nav */
nav {
  @include flex(flex, row);
  grid-area: nav;
  width: 100%;
  height: 110px;
}

span {
  color: $bright-green;
  font-weight: 400;
}

.header-apple-icon {
  margin-left: 5px;
  width: 35px;
  height: 40px;
}

#search {
  @include flex(flex, row);
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0;
  box-shadow: 0 0 7px 0 $gray-blue;
  border: 3px outset $bright-green;
  border-radius: 15px;
  width: 100%;
}

#search-input {
  transition: 0.8s ease;
  outline: none;
  box-shadow: inset -3px -1px 20px 1px $gray-blue;
  border-radius: 10px 0 0 10px;
  background: -webkit-gradient(linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  padding-right: 2%;
  width: 100%;
  height: 100%;
  color: $gray-blue;
  font-size: 2.625rem;
  text-align: right;

  &:hover {
    transition: 0.8s ease;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: $gray-blue;
    font-size: 1.25rem;
    text-align: right;
    text-shadow: none;
  }

  &:focus::placeholder {
    transition: 0.8s ease;
    font-size: 0;
  }
}

.search-label {
  display: none;
}

.search-btn {
  border-left: 3px outset $bright-green;
  border-radius: 0 15px 15px 0;
  padding: 1%;
}

.faved-recipes-btn {
  color: $white;
}

.nav-btn {
  @include flex(flex, column);
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  cursor: pointer;
  outline: none;
  background: $gray-blue no-repeat;
  width: 12%;
  color: $bright-green;
  font-size: 0;
  font-weight: 700;
  text-align: center;

  &:hover {
    transition: 0.4s ease;
    font-size: 0.875rem;
    text-shadow: 0 2px 4px black;
  }

  & img {
    padding: 2px 0;
    width: 40px;
    height: 40px;
  }
}

.saved-ingredients-btn {
  border-left: 3px solid $bright-green;
}

.ing-pan-btn {
  margin: 1% 0;
}
/* BANNER IMAGE*/
.banner-image {
  grid-area: image;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/green-apples.jpg");
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.my-recipes-banner {
  display: none;
  margin-top: 25px;
  @include msg-display();
  & h1 {
    @include msg-style();
  }
}

.welcome-msg {
  margin-top: 50px;
  @include msg-display();
  & h1 {
    @include msg-style();
  }
}

/* FILTER SIDEBAR */
aside {
  background-color: $white;
  height: 100%;
  text-align: center;
}

.wrap {
  width: 80%;
  margin: auto;

  & ul {
    padding-left: 35px;
    list-style-type: none;
    text-align: left;
  }

  & li {
    margin: 3%;
  }

  & label {
    cursor: pointer;
  }

  & input[type="checkbox"]:checked + label {
    border-radius: 25px;
    background: $bright-green;
    padding: 0 5px;
  }
}
/* RECIPE CARD SECTION */
main {
  @include flex(flex, row);
  grid-area: main;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.recipe-card {
  margin: 20px;
  border: 2px solid $bright-green;
  border-radius: 7px;
  background-color: $white;
  padding: 15px;
  width: 250px;
  height: 270px;

  &:hover .card-photo-preview {
    opacity: 50%;
    transition: 0.8s ease;
  }

  &:hover .text {
    opacity: 100%;
    transition: 0.5s ease;
    width: 100%;
    font-size: 1.25rem;
  }

  &:hover h3 {
    transition: 0.8s ease;
    text-shadow: 0 0 4px $bright-green;
  }
}

.unfilled-heart,
.unfilled-to-cook {
  cursor: pointer;
  padding-bottom: 10px;
  width: 45px;
  height: 50px;
}

.card-photo-preview {
  transition: 0.8s ease;
  border-radius: 7px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130px;
}

.card-photo-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 130px;

  & * {
    pointer-events: none;
  }
}

.text {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  background: $darker-green;
  width: 0;
  color: $white;
  font-size: 0;
  font-weight: 700;
  text-align: center;
}
/* BUTTONS */
.filter-btn {
  cursor: pointer;
  border-radius: 3px;
  background-color: $darker-green;
  padding: 5px 10px;
  color: $white;
  font-size: 0.75rem;
  font-weight: bold;

  &:hover {
    opacity: 0.7;
  }
}

.show-pantry-recipes-btn {
  @extend .filter-btn;
  margin-top: 10px;
}

.show-all-btn {
  @extend .filter-btn;
  margin-top: 20px;
  width: 200px;
  height: 40px;
}

.recipe-card-buttons {
  display: flex;
  justify-content: space-between;
}
/* PANTRY LIST */
.drop-menu {
  display: none;
  position: absolute;
  z-index: 3;
  top: 98px;
  right: 0;
  background-color: $white;
  padding: 12px;
  height: 30%;
  overflow: scroll;
  text-align: center;

  & h2 {
    margin: 0;
    color: $darker-green;
  }
}

.pantry-list {
  padding-left: 15px;
  color: $black;
  text-align: left;
}
/* RECIPE INSTRUCTIONS */
.recipe-instructions {
  display: none;
  position: fixed;
  top: 15%;
  right: 15%;
  z-index: 1000;
  box-shadow: 1px 1px 115px black;
  border: 3px solid $bright-green;
  border-radius: 10px;
  background: $white;
  padding: 1%;
  width: 70%;
  height: 70%;
  overflow-x: scroll;

  & h4 {
    background: $white;
    color: $darker-green;
  }

  & p {
    margin-left: 2%;
  }

  & ol {
    margin-right: 2%;
  }
}

#exit-recipe-btn {
  position: fixed;
  transition: 0.3s ease;
  cursor: pointer;
  margin: -4% -3% 2% -1%;
  border: 2px double $darker-green;
  border-radius: 5px;
  background: $white;
  color: $darker-green;
  font-size: 1.25rem;
  font-weight: 700;

  &:hover {
    transition: 0.3s ease;
    background: $bright-green;
  }
}

.recipe-title {
  border-radius: 7px 7px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  color: $white;
  font-size: 1.875rem;
  text-align: center;
  text-shadow: 0 0 6px black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 100;
  filter:alpha(opacity=50);
  background-color: $gray-blue;
  width: 100%;
  height: 100%;
}
